<!-- <div class="curtain">
  <div class="curtain__wrapper">
    <input type="checkbox" checked />

    <div class="curtain__panel curtain__panel--left">
      <h1 style="display: flex; align-items: center; justify-content: center">
        Natalia
        <div class="halfStyle2" data-content="&">&</div>
      </h1>
    </div>

    <div class="curtain__content"> -->
      <form #f="ngForm" (ngSubmit)="submitForm(f)" enctype="multipart/form-data">
        <textarea rows="10" cols="60" name="wishes" ngModel></textarea>
        <input type="file" name="photos" multiple (change)="onFileChange($event)">
        <button type="submit">Upload</button>
      </form>

      
      
    <!-- </div>

    <div class="curtain__panel curtain__panel--right">
      <h1 style="display: flex; align-items: center; justify-content: center">
        <div class="halfStyle" data-content="&">&</div>
        Marcin
      </h1>
    </div>
  </div>
</div> -->
