<div class="curtain">
  <div class="curtain__wrapper">
    <input type="checkbox" checked />

    <div class="curtain__panel curtain__panel--left">
      <h1 style="display: flex; align-items: center; justify-content: center">
        Natalia
        <div class="halfStyle2" data-content="&">&</div>
      </h1>
    </div>
    <!-- curtain__panel -->

    <div class="curtain__content">
      EOEOEO
      <!-- <input type="file" (change)="handleFileInput($event.target.files)" />
      <button (click)="uploadFile()" [disabled]="!fileToUpload">Upload</button> -->
    </div>

    <div class="curtain__panel curtain__panel--right">
      <h1 style="display: flex; align-items: center; justify-content: center">
        <div class="halfStyle" data-content="&">&</div>
        Marcin
      </h1>
    </div>
    <!-- curtain__panel -->
  </div>
  <!-- curtain__wrapper -->
</div>
<!-- curtain -->
