<div class="wedding-pic-container">

	<div id="demo-1" data-zs-src='["assets/images/background-image-phone_flipped.jpeg", "assets/images/background-image.jpeg", "assets/photo-gallery/IMG_0002.JPG"]' data-zs-overlay="false" data-zs-bullets="false">
		<div class="demo-inner-content">
        <div class="wedding-pic-content">
          <h1 class="h1">Natalia & Marcin</h1>
          <h2 class="h2">02.09.2023 r.</h2>
          <button (click)="this.popupService.open('modal-1')">Open Modal 1</button>
        </div>  
      </div>
	</div>

</div>

<div class="welcome-section parallax-background section-divider-bottom-2 padding-divider-top">
  <h2 style='font-family: "scriptina", Arial, Helvetica, sans-serif !important; font-size: 7vw; color: white;'>Witajcie!</h2>
  </div>
  <div class="section-divider-top-1 off-section"></div>
  <p>
    👋 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. 🤷‍♂️🤷‍♀️ ... quis nostrud exercitation ullamco! 🧠
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
  </p>
  <p>Do zobaczenia!</p>
  <p class="pull-right">- Natalia i Marcin 🫶</p>
  <br />

<div style="background-color: #ffeed9; padding: 7px;">
  <gallery class="bg-color-m"
  [flexBorderSize]="3"
  [flexImageSize]="7"
  [maxRowsPerPage]="100"
  [includeViewer]="true"
  [lazyLoadGalleryImages]="false"
></gallery>
</div>
<div class="welcome-section-2">
  <h2>Harmonogram 📅</h2>
  <hr />
  <br />
  <table class="schedule-item">
    <tr>
      <th>Czas</th>
      <th>Wydarzenie</th>
    </tr>
    <tr>
      <td>18:00 - 18:30</td>
      <td>Ślub</td>
    </tr>
    <tr>
      <td>18:30 - 18:45</td>
      <td>Pierwszy taniec</td>
    </tr>
    <tr>
      <td>19:30 - 20:00</td>
      <td>Flaki</td>
    </tr>
    <tr>
      <td>20:00 - 06:00</td>
      <td>Dobra zabawa</td>
    </tr>
  </table>
</div>
<div class="welcome-section-3">
  <h2>Przydatne Linki 🔗</h2>
  <hr />
  <div style="  display: flex;
    justify-content: space-evenly; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */">
    <div style = "padding: 1%;">
    <a href="https://www.pinterest.com/" target="_blank">
      <div class="cardboard-image"></div>
      <br />
      Lista Gości
    </a>
  </div>
  <div style = "padding: 1%;">
    <a
      href="https://www.facebook.com/ziubiakowa/"
      target="_blank"
    >
      <div class="room-image"></div>
      <br />
      Zarezerwuj pokój!
    </a>
  </div>
</div>
</div>
<app-popup id="modal-1" class="app-popup" [onClick]="this.close">
  <h1>A tall modal popup</h1>
  <p>Close with the button below or by clicking the background.</p>
  <form #f="ngForm" (ngSubmit)="submitForm(f)" enctype="multipart/form-data">
    <textarea rows="10" cols="60" name="wishes" ngModel></textarea>
    <input type="file" name="photos" multiple (change)="onFileChange($event)">
    <div style="display: flex;">
      <photo-preview *ngFor='let preview of previews' [preview]="preview"></photo-preview>
    </div>
    <button type="submit">Upload</button>
  </form>
</app-popup>
<!-- <app-popup id="modal-1" class="app-popup">
  <h1>A custom modal popup</h1>
  <button (click)="this.popupService.close();">Close</button>
</app-popup> -->