<div class="wedding-pic-container">
  <div
    id="demo-1"
    data-zs-src='["assets/images/b1.jpeg", "assets/images/b2.jpeg", "assets/images/b3.jpeg"]'
    data-zs-overlay="false"
    data-zs-bullets="false"
  >
    <div class="demo-inner-content" style="width: 100%; height: 100vh">
      <div class="wedding-pic-content">
        <h1 class="h1">Natalia & Marcin</h1>
        <h2 class="h2">02.09.2023 r.</h2>
        <div style="width: 100%; display: flex; justify-content: center">
          <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div style="width: 100%; display: flex; justify-content: center; flex-direction: column;">



    <div style="width: 100%; display: flex; justify-content: center">
      <div class="vc_column-inner">
              <h3 style=" position: relative;
            text-align: center; font-family: Playfair Display,serif;
              margin-bottom: 40px;
              font-weight: 700;" class="separator">
                <p style="text-align: center;  color: #73777b;
                font-family: 'scriptina', Arial, Helvetica, sans-serif !important;
                font-weight: 700;
                font-size: 80px;
                margin-top: -50px;
                margin-bottom: -30px;">Kochani!</p>
              </h3>
              <p style="text-align: center;  color: #73777b;
              line-height: 1.6;
              font-family: Poppins,sans-serif;
              font-size: 15px;">
                Dziękujemy, że jesteście dziś z nami. Że w tym pięknym i ważnym dla nas dniu zdecydowaliście się pojawić u naszego boku. To właśnie Wy sprawiacie, że ten dzień jest jeszcze bardziej  wyjątkowy. Dziękujemy za wszystkie życzenia, ciepłe słowa i prezenty jakie od Was otrzymaliśmy. Cieszymy się, że naszą wspólną drogę życia możemy rozpocząć razem z Wami.
                Zachęcamy, aby wpisać się do księgi gości, wypełnić ankietę weselną i zrobić z nami zdjęcie ;-)
                <p style="text-align: center;  color: #73777b;

                font-family: Poppins,sans-serif;
                font-size: 15px; margin-top:0px; margin-bottom: 10px;">Zostawcie też przepis na zgodne i udane małżeństwo ;-)</p>
                <p style="text-align: center;  color: #73777b;

                font-family: Poppins,sans-serif;
                font-size: 15px; margin:10px;">Życzymy wam wspaniałej zabawy do białego rana :-)</p>
                <p style="text-align: right;  color: #73777b;
                line-height: 1.6;
                font-family: scriptina,sans-serif;
  font-size: 35px;
  width: 90%;
  margin-top: 55px;">Natalia i Marcin</p>

    </div>
            </div>

<div style="width: 100%; display: flex; justify-content: center">
  <div class="btn" (click)="open()">
    Wpisz się do Księgi Gości
  </div>
</div>
</div>
<br />

<div style="background-color: #ffeed9; padding: 7px">
  <gallery
    class="bg-color-m"
    [flexBorderSize]="3"
    [flexImageSize]="7"
    [maxRowsPerPage]="100"
    [includeViewer]="true"
    [lazyLoadGalleryImages]="false"
  ></gallery>
</div>
<div class="welcome-section-2">
  <h2>Harmonogram 🗓️</h2>
  <hr />
  <br />
  <table class="schedule-item">
    <tr>
      <th>Czas</th>
      <th>Wydarzenie</th>
    </tr>
    <tr>
      <td>18:00</td>
      <td>Ślub</td>
    </tr>
    <tr>
      <td>18:30</td>
      <td>Ciepłe dania</td>
    </tr>
    <tr>
      <td>20:30</td>
      <td>Tort</td>
    </tr>
    <tr>
      <td>21:30</td>
      <td>Grill</td>
    </tr>
    <tr>
      <td>00:00</td>
      <td>Tatar</td>
    </tr>
    <tr>
      <td>02:00</td>
      <td>Ciepłe danie</td>
    </tr>
  </table>
</div>
<!-- <div class="welcome-section-3">
  <h2>Przydatne Linki 🔗</h2>
  <hr />
  <div
    style="
      display: flex;
      justify-content: space-evenly; /* Horizontal alignment */
      align-items: center; /* Vertical alignment */
    "
  >
    <div style="padding: 1%">
      <a href="https://www.pinterest.com/" target="_blank">
        <div class="cardboard-image"></div>
        <br />
        Lista Gości
      </a>
    </div>
    <div style="padding: 1%">
      <a href="https://www.facebook.com/ziubiakowa/" target="_blank">
        <div class="room-image"></div>
        <br />
        Zarezerwuj pokój!
      </a>
    </div>
  </div>
</div> -->

<app-popup
  id="modal-1"
  class="app-popup"
  (onClose)="close($event)"
  style="width: 50%"
  [center]="upload_successfull || upload_failed"
>
<div *ngIf="upload_successfull || upload_failed" style="display: flex; justify-content: center; flex-direction: column; align-items: center;">
  <p style="text-align: center;  color: #73777b;
  font-family: GreatVibes,sans-serif !important;
  font-weight: 700;
  font-size: 50px;">Dziękujemy!</p>
  <div style="width: 100%; display: flex; justify-content: center">
    <div class="btn" (click)="close(null)">
      Powrót
    </div>
  </div>
</div>
<div *ngIf="!upload_successfull && !upload_failed">
  <div style="display: flex; justify-content: flex-start; flex-direction: column; align-items: center; max-height: calc(100vh - 70px);">
    
    <h1 style="width: 100%; display: flex; justify-content: center; font-size: large;">
      Drodzy Goście
    </h1>
    <p style="width: 100%; display: flex; justify-content: center; align-items: center; text-align: center; font-size: small;">
      Chcielibyśmy zachować jak najwięcej wspomnień, dlatego będzie nam bardzo miło jeśli zechcecie wpisać się do naszej wirtualnej księgi. Chętnie zobaczymy jak bawiliście się razem z nami, koniecznie wrzućcie tutaj swoje zdjęcia. 
    </p>
    <form style="width: 100%" #f="ngForm" enctype="multipart/form-data">
      <div
        style="
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding-left: 10px;
          padding-right: 10px;
        "
      >
      
        <textarea
          style="width: 100%"
          rows="7"
          cols="60"
          name="wishes"
          [(ngModel)]="wishes"
        ></textarea>
      </div>
    </form>
    <div style="overflow-y: auto;" class="picture-preview-margin-bottom">
        <div
          style="
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 10px;
            width: 100%;
          "
        >
          <div *ngIf="!loading" class="photo-grid">
            <div class="photo-item" *ngFor="let preview of previews">
              <photo-preview
                [content]="preview"
                (delete)="deletePreview($event)"
              ></photo-preview>
            </div>
          </div>
          <input
            #uploadFile
            type="file"
            name="photos"
            multiple
            (change)="onFileChange($event)"
            style="display: none"
          />        
        </div>
      </div>
      <div *ngIf="loading" style="position: relative; min-height: 200px;">
        <app-loading-hearth
        title="
        Przesyłanie"
      ></app-loading-hearth>
    </div>



  </div>
  <div
  style="
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 10px;
    z-index: 15000;
    background-color: #ffeed9;
  "
>
  <a class="bt more-bt" (click)="this.eoeoeo(uploadFile)">
    <span class="fl"></span><span class="sfl"></span
    ><span class="cross"></span><i></i>
    <p>Wybierz zdjęcia</p>
  </a>

  <div                   type="button"
  (click)="submitForm($event)">
    <div
      class="bt"
      style="
        border: 2px solid #554f48;
        height: 43px;
        justify-content: center;
        display: flex;
      "
    >
      <div
        class="upload-button__icon"
        style="
          display: flex;
          justify-content: center;
          align-content: center;
          margin-top: 10px;
        "

      >
        <svg class="upload-button__svg" viewBox="0 0 24 24">
          <path
            d="M18.5,7.5c0.275,0,0.341-0.159,0.146-0.354l-6.292-6.292c-0.195-0.196-0.512-0.196-0.707-0.001 c0,0-0.001,0.001-0.001,0.001L5.354,7.147C5.154,7.342,5.225,7.501,5.5,7.501h3v10c0,0.552,0.448,1,1,1h5c0.552,0,1-0.448,1-1V7.5 H18.5z M23.5,18.5v4c0,0.552-0.448,1-1,1h-21c-0.552,0-1-0.448-1-1v-4"
          ></path>
        </svg>
      </div>

      <div class="lines">Prześlij</div>
    </div>
  </div>
</div>
</div>
</app-popup>
