<div class="wedding-pic-container">
  <div class="wedding-pic-content">
    <h1>Natalia & Marcin</h1>
    <h2>02.09.2023 r.</h2>
  </div>
</div>
<div class="welcome-section">
  <h2>Witajcie!</h2>
  <hr />
  <p>
    👋 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. 🤷‍♂️🤷‍♀️ ... quis nostrud exercitation ullamco! 🧠
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
  </p>
  <p>Do zobaczenia!</p>
  <p class="pull-right">- Natalia i Marcin 🫶</p>
  <br />
</div>
<div style="background-color: #cbe8eb; padding: 7px;">
  <gallery class="bg-color-m"
  [flexBorderSize]="3"
  [flexImageSize]="7"
  [maxRowsPerPage]="100"
  [includeViewer]="true"
></gallery>
</div>
<div class="welcome-section-2">
  <h2>Harmonogram 📅</h2>
  <hr />
  <br />
  <table>
    <tr>
      <th>Czas</th>
      <th>Wydarzenie</th>
    </tr>
    <tr>
      <td>18:00 - 18:30</td>
      <td>Ślub</td>
    </tr>
    <tr>
      <td>18:30 - 18:45</td>
      <td>Pierwszy taniec</td>
    </tr>
    <tr>
      <td>19:30 - 20:00</td>
      <td>Flaki</td>
    </tr>
    <tr>
      <td>20:00 - 06:00</td>
      <td>Dobra zabawa</td>
    </tr>
  </table>
</div>
<div class="welcome-section-3">
  <h2>Przydatne Linki 🔗</h2>
  <hr />
  <div style="  display: flex;
    justify-content: space-evenly; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */">
    <div style = "padding: 1%;">
    <a href="https://www.pinterest.com/" target="_blank">
      <div class="cardboard-image"></div>
      <br />
      Lista Gości
    </a>
  </div>
  <div style = "padding: 1%;">
    <a
      href="https://www.facebook.com/ziubiakowa/"
      target="_blank"
    >
      <div class="room-image"></div>
      <br />
      Zarezerwuj pokój!
    </a>
  </div>
</div>
</div>
